# Dependencias
node_modules/
npm-debug.log
yarn-error.log

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds y dist
build/
dist/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.swp
*.swo

# Ignorar subcarpetas si no las commiteas enteras
backend/node_modules/
frontend/node_modules/